demo/roostify-demo/src/main/mule/deleteWebhookFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:roostify="http://www.mulesoft.org/schema/mule/roostify" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/roostify http://www.mulesoft.org/schema/mule/roostify/current/mule-roostify.xsd">
	<flow name="deleteWebhookFlow" doc:id="48986af9-ae1f-4f89-93c1-8f90b7c7741a" >
		<http:listener doc:name="8081/deleteWebhook" doc:id="653e3ce4-df56-4688-85b3-9d2f804179f7" config-ref="HTTP_Listener_config" path="deleteWebhook"/>
		<roostify:deleting-webhook doc:name="Delete a webhook" doc:id="fc24aaab-1548-4072-b91f-491b1bce6001" config-ref="Roostify_Config" webhookId="#[attributes.queryParams.webhookId]"/>
		<ee:transform doc:name="Response" doc:id="ceda4d0f-2bfa-49fb-a10f-c2d5d3aa766f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
