demo/roostify-demo/src/main/mule/getLoanFNMFormatFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:roostify="http://www.mulesoft.org/schema/mule/roostify"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/roostify http://www.mulesoft.org/schema/mule/roostify/current/mule-roostify.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getLoanFNMFormatFlow" doc:id="df1c375d-71af-48e6-bbe6-253a8f92d012" >
		<http:listener doc:name="8081/getLoanFNM" doc:id="de490770-1951-454a-935a-b9edd898d55e" config-ref="HTTP_Listener_config" path="getLoanFNM"/>
		<roostify:loan-applications-fnm doc:name="Retrieve a loan application in FNM format" doc:id="287cee45-7e56-4372-bef0-51ac0da70532" config-ref="Roostify_Config" id="#[attributes.queryParams.loanId]"/>
	</flow>
</mule>
