src/test/resources/test-creating-status-update-flow.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:roostify="http://www.mulesoft.org/schema/mule/roostify"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/roostify http://www.mulesoft.org/schema/mule/roostify/current/mule-roostify.xsd">

    <configuration-properties file="application.properties" />
    <roostify:config name="Roostify_Config" address="${address}" version="${version}" >
        <roostify:connection username="${username}" password="${password}" connectionIdleTimeout="600000" connectionTimeout="600000"/>
    </roostify:config>

    <flow name="createStatusUpdateFlow" >
        <roostify:creating-status-update config-ref="Roostify_Config">
            <roostify:status ><![CDATA[#[{
  "loan_application_id": "7264023802837449",
  "update_content": "Hello, updated status!"
}]]]></roostify:status>
        </roostify:creating-status-update>
    </flow>
</mule>