src/test/resources/test-creating-status-update-flow.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:roostify="http://www.mulesoft.org/schema/mule/roostify"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/roostify http://www.mulesoft.org/schema/mule/roostify/current/mule-roostify.xsd">

    <roostify:config name="Roostify_Config" address="https://sandbox.roostify.com/api" version="/v1" >
        <roostify:connection username="9059584367234663" password="b8cd725ab1b215a6" connectionIdleTimeout="600000" connectionTimeout="600000"/>
    </roostify:config>
    <flow name="createStatusUpdateFlow" >
        <roostify:creating-status-update config-ref="Roostify_Config">
            <roostify:status ><![CDATA[#[{
  "loan_application_id": "7264023802837449",
  "update_content": "Hello, updated status!"
}]]]></roostify:status>
        </roostify:creating-status-update>
    </flow>
</mule>